.appLogo {
    width: .6em;
    color: var(--theme-alt-color);
    display: inline-flex;
    padding: 0;
    margin: 0;
    margin-top: .2em;
    animation: App-logo-spin infinite 5s linear;
}

.posterHeaderDiv {
    display: flex;
    background-repeat: 'repeat-x';
    background-image: url("data:image/svg+xml,%3Csvg fill='currentColor' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cpath d='M 1,16 A 1,1 0 0 1 0,15 V 1 A 1,1 0 0 1 1,0 h 14 a 1,1 0 0 1 1,1 v 14 a 1,1 0 0 1 -1,1 z M 1,12 H 7 V 4 H 1 Z M 9,4 v 8 h 6 V 4 Z M 1,15 H 3 V 13 H 1 Z m 3,-2 v 2 h 2 v -2 z m 3,2 H 9 V 13 H 7 Z m 3,-2 v 2 h 2 v -2 z m 3,2 h 2 V 13 H 13 Z M 1,1 V 3 H 3 V 1 Z M 4,3 H 6 V 1 H 4 Z M 7,1 V 3 H 9 V 1 Z m 3,2 h 2 V 1 h -2 z m 3,-2 v 2 h 2 V 1 Z' id='path1' /%3E%3C/svg%3E");
    opacity: .05;
    z-index: 1;
}

.posterHeader {
    display: flex;
    font-size: 3em;
    text-shadow: 0 0 5px var(--theme-main-color), 0 0 5px var(--theme-alt-color), 0 0 2px var(--theme-hover-color);
}

.posterTitle {
    display: inline-block;
    font-size: 400%;
    width: 100%;
    margin: auto;
    color: var(--theme-alt-color);
    transform: rotate(-45deg);
    z-index: 10;
    text-shadow: 0 0 15px var(--theme-main-color), 0 0 15px var(--theme-hover-color), 0 0 12px var(--theme-alt-color);
    top: 40%;
}

.posterCard {
    width: 500px;
    height: 700px;
    background: var(--theme-gradient);
    color: silver;
    text-shadow: 0 0 5px var(--theme-main-color), 0 0 5px var(--theme-main-color), 0 0 2px var(--theme-main-color);
    box-shadow: 0 0 5px var(--theme-hover-color), 0 0 5px var(--theme-hover-color), 0 0 2px var(--theme-hover-color);
}

@media only screen and (max-width: 575px) {
        
    .posterCard {
        width: 99vw;
        height: 70svh;
    }
}

.AppLogoReel {
    display: flex;
    animation: App-logo-spin infinite 1s linear; 
    color: var(--theme-secondary-color);
}

.fullLogo {
    margin: auto;
    max-width: 1000px;
    width: 100px;
    position: relative;
    color: var(--theme-alt-color);
    min-width: 55px;
    z-index: 0;
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  